*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #E5E5E5
    
}

@media (min-width: 1080px){
 html {
     font-size: 93.75%;

 }
}


@media(max-width: 720px){
    html {
        font-size: 87,5%;
    }
}


box {
    color: #fff;
    background: var(--background);

}

body, input, button, textarea {
    font: 400 1ren "Roboto", sans-serif;
}