<div routerLink="">
    <svg style="position: absolute;
    height: 24px;
    left: 1001px;
    top: 55px; cursor:pointer;
    " width="32" height="16" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.98 6H32V10H7.98V16L0 8L7.98 0V6Z" fill="#1D4880"/>
        </svg>
        
    <p style="position: absolute;
    width: 239px;
    height: 23px;
    left: 1040px;
    top: 35px;
    cursor:pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    /* Primária */
    
    color: #1D4880;">Voltar para a página inicial</p>
</div>


<div style="width: 736px;
height: 825px;
left: 352px;
top: 206px;

background: #FFFFFF;
border-radius: 5px;
margin: 0px auto;margin-top: 94px;">
  <p style="position: absolute;
  width: 544px;
  height: 48px;
  left: 425px;
  top: 254px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  
  
  color: #1D4880;">
Cadastre aqui o ponto de coleta
  </p>
  <p style="position: absolute;
  width: 544px;
  height: 36px;
  left: 425px;
  top: 350px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  
  
  color: #1D4880;">Dados do local</p>

<p style="position: absolute;
width: 544px;
height: 36px;
left: 425px;
top: 426px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Nome do local</p>

<input style="
position: absolute;
width: 544px;
height: 36px;
left: 425px;
    top: 470px;
background: #FFFFFF;
/* Primária */
width: 543px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">

<p style="position: absolute;
width: 544px;
height: 36px;
left: 425px;
top: 528px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Url da imagem</p>

<input style="
position: absolute;
width: 544px;
height: 36px;
left: 425px;
    top: 572px;
background: #FFFFFF;
/* Primária */
width: 543px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">

<p style="position: absolute;
width: 544px;
height: 36px;
left: 425px;
top: 635px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Logradouro</p>

<input style="
position: absolute;
left: 425px;
    top: 675px;
background: #FFFFFF;
/* Primária */
width: 363px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">

<p style="position: absolute;
width: 544px;
height: 36px;
left: 812px;
top: 635px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Número</p>

<input style="
position: absolute;
left: 812px;
    top: 675px;
background: #FFFFFF;
/* Primária */
width: 158px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">


<p style="position: absolute;
width: 544px;
height: 36px;
left: 425px;
top: 732px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Bairro</p>

<input style="
position: absolute;
width: 544px;
height: 36px;
left: 425px;
    top: 770px;
background: #FFFFFF;
/* Primária */
width: 543px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">














<p style="position: absolute;
width: 544px;
height: 36px;
left: 425px;
top: 823px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Cidade</p>

<input style="
position: absolute;
left: 425px;
    top: 865px;
background: #FFFFFF;
/* Primária */
width: 363px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">

<p style="position: absolute;
width: 544px;
height: 36px;
left: 812px;
top: 823px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


color: #1D4880;">Estado</p>

<input style="
position: absolute;
left: 812px;
    top: 865px;
background: #FFFFFF;
width: 158px;
height: 60px;
border: 1px solid #1D4880;
box-sizing: border-box;
border-radius: 5px;">

<div style="background: #009FF1;
border-radius: 5px;
width: 320px;
height: 60px;
position: absolute;
left: 530px;
    top: 950px;">

</div>
<p style="font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
left: 570px;
    top: 950px;
    position: absolute;
color: #FFFFFF;">Continuar o cadastro </p>

<svg style="    left: 770px;
top: 978px;
position: absolute;" width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.0125 3.75H0V6.25H15.0125V10L20 5L15.0125 0V3.75Z" fill="white"/>
    </svg>
    

</div>


